{% load staticfiles %}
*{
    box-sizing: border-box;
}
body{
    margin:auto;
    padding:0;
    background-color:White;
    font-family: 'Thasadith', sans-serif;
    width: 1366px;
}
.nav{
    overflow: hidden;
    position: fixed;
    background-color:rgba(0,0,0,0.2);
    width:1366px;
    z-index: 1;
}
.nav a{
    font-weight: bold;
    display:inline-block;
    text-align: center;
    padding: 5px 10px 0 10px;
    text-decoration: none;
    font-size: 20px;
    color:white;
}
.nav a:not(:first-child){
    position:relative;
    top:50px;
    float:right;
}
.nav a:hover{
    color:#FF2758;
}
.nav img{
    width: 80px;
    height: auto;
}
.nav .icon {
  display: none;
}
.navimg img{
    max-height:95px;
    width:100%;
}
.navimg{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 100px;

}
.container{
    background-image: url('../img/121.png');
    padding: 5% 5%;
    font-size: 15px;
    color:#17202A;
    min-height: 200px;
}
.float{
    float: left;
    width: 33.3%;
    padding: 40px;
}
.content{
    font-size: 17px;
}
.center{
    text-align: center;
}
.b{
    font-size: 22px;
    color:#2874A6;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 0px;

}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
    padding: 50px;
   border-radius:100px 10px 100px 10px;
}
input{
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius:20px 4px 20px 4px;
    resize: vertical;
}
.button1{
    background-color:#FF2758 ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius:20px 4px 20px 4px;
}

.button1:hover {
    opacity: 0.8;
}

.headapp{
    position: relative;
    text-align: center;
    font-size: large;
    font-weight:bolder;
}
label{
    font-weight: bold;
}
.picture img{
    display:block;
    position:relative;
    margin-top:-5px;
    width:100%;
    height:540px;
}
.text{
    position:relative;
    background-color: rgba(0,0,0,0.5);
    color:White;
    border-radius:25px;
    padding:0.1% 1% ;
}
.tut{
    display: none;
}
#prev, #next {
      cursor: pointer;
      position: absolute;
      top: 350px;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: #E2325A;
      font-weight: bold;
      font-size: 25px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.3);
    user-select: none;
}
#next{
  right:0;
  border-radius: 3px 0 0 3px;
}
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.7);
}
.s0{
    top:-250px;left:50px;width:270px
}
.s1{
    top:-500px;left:100px;width:270px
}
.s2{
   top:-250px;left:100px;width:300px
}
.s3{
    top:-500px;left:100px;width:270px
}
.s4{
    top:-200px;left:100px;width:270px
}
.s5{
   top:-500px;left:100px;width:100px
}
.s6{
    top:-500px;left:500px;width:350px;
}
.buttona{
    background-color:rgba(0,0,0,0.7);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}
.buttonab{
    position: absolute;
    top:74%;
    left:70%;
}
.buttona:hover{
    background-color:#BF274A ;
    color: white;
}

.contact{
    background-color: white;
    padding: 20px;
    font-family: 'Oswald', sans-serif;

}
.contact p{
    text-align: center;
    color:#BF274A;
}
.contact span{
    padding:20px 200px;
}
a{
    text-decoration: none;
}
.footer{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 200px;
    width: 100%;
    color: white;
    padding:15px 150px;
    padding-bottom:0;

}
.clearix{
    clear: left;
}
.footer ul{
    width:33.3%;
    float: left;
    list-style: none;
}
.footer li a{
    list-style: none;
    color:#FF2758;
}
.footer li a:hover{
    color:#BF274A;
}
.footer ul{
    font-weight:bold;
    font-size: 20px;
}
.footer li{
    padding-top: 8px;
    font-size: 16px;
}
@media screen and (min-width: 1367px){
    body{
        width:1366px;
    }
    .container{
        width:100%;
    }

}


@media screen and (max-width: 1366px){
    body{
        width:1366px;
    }
    .container{
        width:100%;
    }
    .nav{
        width:100%;
    }
}

@media screen and (max-width: 600px){
    body{
        width:100%;
    }
    .nav{
        position:fixed;
        width: 100%;
    }
    .nav a:not(:first-child){
        display: none;
    }
    .nav a.icon {
        display: block;
    }
    .responsive{
        position:fixed;
        background-color:rgba(0,0,0,0.7);
        width: 100%;
        z-index: 1;
        overflow: hidden;
    }

    .responsive a {
        font-weight: bolder;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        font-size:16px;
        padding:0 16px 0 0;
        color:White;
        margin:0 0 5px 0;
        float: right;
    }
    .responsive a:not(first-child){
        float: none;
    }
    .responsive img{
        width:80px;
        height:auto;
    }
    .navimg img{
        display: none;
    }
    .container{
        width: 95%;
        margin: 10px 12px 10px 12px;
    }
    .float{
        width: 90%;
        padding:10px;
    }
    .text H1{
        font-size: 22px;
    }
    .picture{
        padding-top:100px;
    }
    .s0,.s1,.s2,.s3,.s4,.s5,.s6{
        top:-150px;left:150px;width:175px
    }
    .contact{
        padding:30px;

    }
    .contact span {
        padding: 20px 20px;
    }
    .contact p {
        text-align:left;
    }
    .footer {
        padding: 1.5px 15px;
    }
    .footer ul {
        width: 50%;
    }
}
@media screen and (max-width: 320px){
    body{
        width: 320px;
    }
}
